{% load static  %}
<div class="navview-pane" style="background: #1a2226;">
    <div class="d-flex flex-align-center">
        <button class="pull-button m-0">
            <img class="mh-100 m-0" src="{% static 'images/Smart360.png' %}" style="width: auto; height: auto;"/>        
        </button>
        <h2 class="text-light m-0 fg-white pl-7 d-none-xl" style="line-height: 52px;font-family:  Georgia, arial, serif;">TxHelpdesk</h2>
    </div>

    <div class="w-100 text-center text-small data-box p-2 border-top bd-grayMouse" style="position: absolute; bottom: 0">
        <div>&copy; {% now "Y" %} TxHelpdesk </div>
    </div>
</div>


